@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    padding: 10px 25px;
    border: none;
    background-color: #2ca48b;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    border-radius: 5px;
  }

  .button:hover {
    background-color: black;
  }

  .box-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .digital-card:hover .effect {
    transform: rotate(-180deg);
  }

  .queries-card:hover .queries-button {
    position: absolute;
    bottom: -260px;
  }

  .effect-card {
    inset: 0;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
  }

  .myQuery-card:hover .effect-card {
    transform: scale(1);
  }
}
